<div class="login">
    <h1>Student Home</h1>
    <div class="buttonGroup">
    <table>
        <tr>
            <td>
                <button nz-button nzType="primary" nzSize="large" nzShape="round">View My Results</button>
            </td>
            <td>
                <button nz-button nzType="primary" nzSize="large" nzShape="round">View Aggregate Results</button>
            </td>
        </tr>
        <tr>
            <td>
                <button nz-button nzType="primary" nzSize="large" nzShape="round">Sign Up For A Test</button>
            </td>
            <td>
                <button nz-button nzType="primary" nzSize="large" nzShape="round">View Daily Results</button>
            </td>
        </tr>
    </table>
    </div>
    </div>