<div class="login">
    <h1>Site Tester/Lab Tech Home</h1>
    <div class="buttonGroup">
        <table>
            <tr>
                <td>
                    <button nz-button nzType="primary" nzSize="large" nzShape="round"><a routerLink="/processPoolPage">Process Pool</a></button>
                </td>
                <td>
                    <button nz-button nzType="primary" nzSize="large" nzShape="round">View Processed Tests</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button nz-button nzType="primary" nzSize="large" nzShape="round">Create Pool</button>
                </td>
                <td>
                    <button nz-button nzType="primary" nzSize="large" nzShape="round">View Aggregate Results</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button nz-button nzType="primary" nzSize="large" nzShape="round">View Pools</button>
                </td>
                <td>
                    <button nz-button nzType="primary" nzSize="large" nzShape="round">View Daily Results</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button nz-button nzType="primary" nzSize="large" nzShape="round">Change Testing Site</button>
                </td>
                <td>
                    <button nz-button nzType="primary" nzSize="large" nzShape="round">View Appointments</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button nz-button nzType="primary" nzSize="large" nzShape="round">Create Appointment</button>
                </td>
            </tr>
        </table>
    </div>
    </div>