<h1>Tester Change Testing Site</h1> <br /><br />

<h3>Username:</h3><h3 id="username"></h3><br>
<h3>Full Name:</h3><h3 id="fullName"></h3><br>
<form nz-form>
    <nz-form-label>Assigned Sites</nz-form-label>
    <nz-select nzMode="multiple" nzPlaceHolder="Please select">
        <nz-option nzValue="Site 1" nzLabel="Site 1"></nz-option>
        <nz-option nzValue="Site 2" nzLabel="Site 2"></nz-option>
        <nz-option nzValue="Site 3" nzLabel="Site 3"></nz-option>
        <nz-option nzValue="Site 4" nzLabel="Site 4"></nz-option>
    </nz-select>
</form>
