<div class="login">
    <h1>Admin Home</h1>
    <div class="buttonGroup">
    <table>
        <tr>
            <td>
                <button nz-button nzType="primary" nzSize="large" nzShape="round">Reassign Testers</button>
            </td>
            <td>
                <button nz-button nzType="primary" nzSize="large" nzShape="round">Create Testing Site</button>
            </td>
        </tr>
        <tr>
            <td>
                <button nz-button nzType="primary" nzSize="large" nzShape="round">Create Appointment</button>
            </td>
            <td>
                <button nz-button nzType="primary" nzSize="large" nzShape="round">View Aggregate Results</button>
            </td>
        </tr>
        <tr>
            <td>
                <button nz-button nzType="primary" nzSize="large" nzShape="round">View Appointments</button>
            </td>
            <td>
                <button nz-button nzType="primary" nzSize="large" nzShape="round">View Daily Results</button>
            </td>
        </tr>
    </table>
    </div>
    </div>