.login {
    margin: auto;
    margin-top: 70px;
    width: 50%;
    align-content: center;
    padding: 10px;
  }

  .buttonGroup {
      margin-top: 40px;
  }

  td {
      padding: 20px;
  }

  button {
      width: 200px;
  }
